html,body{
    text-align: left;
    font-family: $inter;
    background: linear-gradient(to bottom left, rgba(152,30,30,.3), rgba(192,172,172,.3));
    color: $red;
    @media (max-width: $breakpoint-xs) {
      height: 100%;
  }
  }

  .container{
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
  }

  a{
    // font-family: $inter;
    color: black;
    font-size: .8rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $red;
    text-align: center;
    height: 50px;
  }
  
  main{
    padding: 10px 20px;
    section h3{
      display: none;
    }
  }


  /*NAVBAR */

  nav{
    padding: 0;
    color: black;
    height: $nav-height; 
    background-color: $red;

    @media (max-width: $breakpoint-xs) {
        .btn.red{
            display: none;
          }
    }
  }
  
  nav img{
      vertical-align: text-bottom; 
      height: $nav-height;

      &#userlogo{
        padding: $padding-bottom*0.5;
        @media  screen and (min-width:$breakpoint-xs) {
          display: none;
        }
        @media  screen and (max-width:$breakpoint-xs) {
          display: inline-block;
        }
      }
  }
  
  nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
    text-align: center;
    height: inherit;
    width: 100%;
    margin: auto;
  }
  
   nav ul li{
    display: inline-block;
    height: inherit;
        a{
          line-height: calc($nav-height - 6px);
          
        }
        &#eth-euro{
          font-size: .7rem;
          color: azure;
          p{
            margin-top: 5px;
            margin-bottom: 5px;
          }
          p:last-child{
            margin-top: 0;
            margin-bottom: 5px;
          }
        }
  }
  
  nav ul li:last-child{
    margin-right: 0px;
  }