html,body{
    text-align: left;
    font-family: $inter;
    color: $red;
  }

  a{
    // font-family: $inter;
    color: black;
    font-size: .8rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  footer{
    background-color: $red;
    text-align: center;
  }
  
  
  
  main{
    padding: 10px 20px;
    background: linear-gradient(to bottom left, rgba(152,30,30,.3), rgba(192,172,172,.3));
  }


  /*NAVBAR */

  nav{
    padding: 0;
    color: black;
    height: $nav-height; 
    background-color: $red;

    @media (max-width: $breakpoint-xs) {
        .btn.red{
            display: none;
          }
    }
  }
  
  nav img{
      vertical-align: text-bottom; 
      height: $nav-height;

      &#userlogo{
        padding: $padding-bottom*0.5;
      }
  }
  
  nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
    text-align: center;
    height: inherit;
    width: 100%;
    margin: auto;
  }
  
   nav ul li{
    display: inline-block;
    height: inherit;
        a{
          line-height: $nav-height;
            #userlogo{
            @media screen and (min-width:$breakpoint-xl) {
                display: none;
            }
          }


        }
  }
  
  nav ul li:last-child{
    margin-right: 0px;
  }