.flexcontainer {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding: 5px 20px;
}
 /* Animation pour "forcer à cliquer" */
 #blink {

    font-size: 2rem;
    -webkit-animation: 2s linear infinite condemed_blink_effect; 
    animation: 1s linear infinite condemed_blink_effect;

    @media screen and (max-width:$breakpoint-xs){
      font-size: 1.5rem;
    }
  }
  @-webkit-keyframes condemed_blink_effect { 
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  @keyframes condemed_blink_effect {
    
    100% {
      visibility: visible;
      color: var(--red);
    }
  }

  .accordion{
    margin-bottom: 20px;
  }

  .connect-card{
    text-align: center;
    padding: 1rem;
    div{
      margin-right: 30px;
      &:last-child{
        margin-right: 0;
        div{
          @media screen and (max-width:$breakpoint-xs){
            display: block;
            margin-bottom: 30px;
            width: 100%;
          }
        }
      }
    }
    @media screen and (max-width:$breakpoint-xs){
      margin-top: 50px;
    }
  }

  .scroll-zone{
    padding-left: 10px;
    padding-top: 10px;
    height: $list-user-height;
    width: 100%;
    //*****    ScrollBar *****//
    overflow-y: scroll;
    

  /* width */
&::-webkit-scrollbar {
  width: 5px;
}

/* Track */
&::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
}

/* Handle */
&::-webkit-scrollbar-thumb {
  background: $red;
  border-radius: 10px;
}
  

  @media (max-width: $breakpoint-xs) {
      text-align: center;
      width: 100%;
      height: 100%;
      padding-right: $padding-right;
      padding-left: $padding-left;
      padding-bottom: 50px;
      margin: auto;
      overflow:hidden;
  }
  }