

/* VARIABLES */
:root{
    --headings: inter;
    --red: #981E1E;
  }
  
  /* Animation pour "forcer à cliquer" */
  #blink {
      -webkit-animation: 2s linear infinite condemed_blink_effect; 
      animation: 1s linear infinite condemed_blink_effect;
    }
    @-webkit-keyframes condemed_blink_effect { 
      0% {
        visibility: hidden;
      }
      50% {
        visibility: hidden;
      }
      100% {
        visibility: visible;
      }
    }
    @keyframes condemed_blink_effect {
      
      100% {
        visibility: visible;
        color: var(--red);
      }
    }
  /* GENERAL */
  html,body{
    text-align: left;
    font-family: inter;
    color: var(--red);
  }
    
  /* h1,h2,h3,h4,h5,h6{
    
  } */
  
  a{
    font-family: var(--headings);
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  footer{
    background-color: var(--red);
    text-align: center;
  }
  
  nav{
    padding: 10px 0px; 
    background-color: var(--red);
  }
  
  nav img{
      height: 2rem;
  }
  
  nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
    text-align: center;
    width: 100%;
    margin: auto;
  }
  
   nav ul li{
    display: inline-block;
    color: black;
  }
  
  nav ul li:last-child{
    margin-right: 0px;
  }
  
  main{
    padding: 10px 20px;
    background: linear-gradient(to bottom left, rgba(152,30,30,.3), rgba(192,172,172,.3));
  
  }
  /* COMPONENTS */
  /* Input search */
  .btn.valid{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("../images/iconesAppli/check-circle.svg");
    background-size: cover;
    margin-left: 20px;
  }
  
  .inputvalid{
    display: flex;
  }
  
  /* Button navbar */
  
  /* SPECIFIC CLASS */
  .flexcontainer {
      display: flex;
      justify-content: space-between;
      width: auto;
      margin-right: 0px;
      margin-left: 0px;
      padding: 5px 20px;
  } 
  
  .carduser{
      display: flex;
      justify-items: center;
      height: 200px;
      width: 40%;
      margin-top: 20px;
      margin-right: 10px;
      padding: 30px;
      border-radius: 20px;
      border: solid 2px black;
      background: linear-gradient(to bottom left, #981E1E, #c0acac);
  }
  
  .carduser:last-child{
      margin-bottom: 0px;
  }
  
  .carduser .left {
      width: 60%;
      height: 100%;
  }
  
  .carduser .right {
      width: 40%;
      height: 100%;
  }
  
  .avatar{
    height: 100px;
    background-position: right;
    background-size:contain;
    background-repeat: no-repeat;
  }
  
  .avatar#user1{
    background-image: url("../images/Users/user_1/user.svg");
    background-position: center;
  }
  
  .avatar#user2{
    background-image: url("../images/Users/user_2/user.svg");
    background-position: center;
  }
  
  .listuser {
    display: flex;
    text-align: center;
    padding: 5px 5px;
    width: 70%;
  }
  
  /* MEDIA QUERY */
  @media (max-width: 500px) {
  
      .results{
        display: none;
      }
    
      .flexcontainer{
        width: auto;
      }  
  
      .listuser{
        width: 100%;
      }
  
      .carduser{
        display: block;
        width: auto;
      }
  
      span{
        display: none;
      }
    }
  
    @media screen and (min-width:800px) {
      a>#userlogo{
        display: none;
      }
  
  
      
      
    }
  