/* Input search */
.btn.valid{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("/img/iconesAppli/check-circle.svg");
    background-size: cover;
    margin-left: $margin;

    @media screen and (max-width:$breakpoint-xs) {
      width: 24px;
    height: 24px;
    margin-left: $margin - 10px;
      
    }
  }
  
  #inputvalid{
    display: flex;
    align-items: center;
    width: fit-content;
  }

  /*Button  in navbar and application*/
  .btn.red{
    display: inline-block;
    border: solid 3px $red;
    background-color: $red;
    color: black;
    transition:all .3s ease-in-out;
    padding: 0rem 1rem;

    &:hover{
      background-color: black;
      color: $red;
      cursor: pointer;
    }
    p{
      margin: .5rem auto;
    }
  }

// ACCORDION

     /* Style the buttons that are used to open and close the accordion panel */
section > .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
section > .panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
} 