#connexion{
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    max-width: fit-content;
}

#connexion-form{
    footer{
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
}