.carduser{
    display: inline-block;
    height: 150px;
    min-width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: .1rem;
    border-radius: 20px;
    background: linear-gradient(to bottom left, $red, $lightred);

    &:last-child{
        margin-bottom: 0px;
    }

    &:hover{
        box-shadow: 0px 0px 10px $red;
    }

    .flexcontainer {
        align-items: center;  
        .right{
            .avatar{
                height: 60px;
                width: 60px;
                background-position: left;
                background-size:contain;
                background-repeat: no-repeat;

                &#user1{
                    background-image: url("/img/users/user_1/user.svg");
                }
                &#user2{
                    background-image: url("/img/users/user_2/user.svg");
                }
                
             }
            }
        .left{
            color: black;
            width: 60%;
        }
    
        @media screen and (max-width:$breakpoint-xs){
            width: auto;
        }
    }



    @media screen and (max-width:$breakpoint-xs){
        flex-direction: column;
        width: 100%;
        margin-right: 0;
    }
}
