.listuser {
    margin-right: 0;
    margin-left: 0;
  }

  #print{
    height: $list-user-height;
  }

  .collection{
    height: $list-user-height;
    width: 20%;
    @media screen and (max-width:$breakpoint-xs){
      width: 100%;
 
  }
  }

  .nft{
    height: $list-user-height;
    width:30%;
  }

  .search{
   height: 150px;
  }

  
