.carduser{
    display: inline-block;
    height: 200px;
    width: 40%;
    margin-top: 20px;
    margin-right: 10px;
    padding: 30px;
    border-radius: 20px;
    /* border: solid 2px $red; */
    background: linear-gradient(to bottom left, $red, $lightred);

    &:last-child{
        margin-bottom: 0px;
    }

    &.left {
        width: 60%;
        height: 100%;
    }

    &.right {
        width: 40%;
        height: 100%;
    }

    &:hover{
        box-shadow: 0px 0px 5px $red;
    }


    @media screen and (max-width:$breakpoint-xs){
        display: block;
        width: auto;
    }
}
